body{
  background-color: #051622;
  font-family: 'Poppins';
  font-style: normal;
  margin:0%;
  padding: 0%;
  width: fit-content;
  height: fit-content;
}

.header{
  color: #76323F;
  position: absolute;
  top: 0%;
  left: 90%;
}

.navi{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  min-height: 5vh;
  width:70%;
  left: 10%;
  border-radius: 15px;
}

#page2{
  position: relative;
  left: 10%;
}

@media screen and (min-width: 700px) and (max-width: 992px) {
  footer {
    top: 1400px;
    }

  .pizza3{
    top: 100%;
    } 
}

.index, .order{
  background-color:#76323F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} 

.intro {
  color: #DEB992;
  font-size: 300%;
  position: absolute;
  top: 20%;
  left: 10%;
  right: 40%;
  text-align: center;
}
.explore{
  color: #76323F;
  font-size:100%;
  font-weight: bold;
  
  
}

.Hungry{
  color: #76323F;
  font-weight: bold;
}

.pizza1 {
  width: 30%;
  position: absolute;
  top: 20%;
  right: 10%;
} 

.pizza2{
  width: 7%;
}

.col-md-1{
  position: absolute;
  text-align:center;
  left: 1%;
  top: 20%;  
}

h2{
  position: absolute;
  text-align: center;
  right: 85%;
  top: 0%;
}

.col-md-2{
  position: absolute;
  text-align: center;
  right: 45%;
 top: 20%;
}

h3{
  position: absolute;
  text-align: center;
  right: 45%;
  top: 0%;
}

.col-md-3{
  position: absolute;
  text-align: center;
  left: 80%;
  top: 25%;
  font-size: large;
  color: white;
}

h4{
  position: relative;
  text-align: center;
  left: 40%;
  top: 25%;
}

.row{
  color:#DEB992;
}

.form-group{
  padding:2%;
}

#pizza, #size, #topping, #crust, #delivery, #address, #city, #estate, #mobile,#amount{
  width: 110%;
  font-size:80%;
}

#delivery{
  position: absolute;
  left:1%;
  top: 100%;
}

#order1{
  text-align: justify;
  font-size: xx-large;
  position: absolute;
  right:60%;
  top: 23%;
}

h5{
  position: absolute;
  left: 23%;
  bottom: 90%;
}

#address{
  display:none;
  text-align: justify;
  font-size: xx-large;
  position: absolute;
  padding: 2%;
  bottom: 50%;
  left: 220%;
  font-size:100%;
}

h6{
  position: absolute;
  bottom: 80%;
  left: 40%;
  font-size: x-large;
}

#checkout{
  position: absolute;
  float: right;
  left: 120%;
  top: 70%;
  box-sizing: content-box;
  padding-left: 40%;
}

.pizza3{
  position: absolute;
  right:78%;
  bottom: 30%;
  width: 25%;
}

.btn, .btn2, .btn3, .btn4{
  background-color:#76323F;
  border: none;
  color: white;
  text-align: center;
  transition-duration: 0.4s;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  position: absolute;
}

.btn4{
  left: 38%;
  top: 76%;
}

.btn:hover,.btn2:hover,.btn3:hover,.btn4:hover {
  background-color:#DEB992;
  color: #051622;
}

.btn{
  top: 115%;
  left: 30%;
}

.btn2{
  top:105%;
  left: 44%;
}

.btn3{
  left: 55%;
}

#order-summary{
  background-color:#051622;
  color:white;
  font-weight: bold;
  font-size: x-large;
}

.emptyCart{
  width: 15%;
  left: 45%;
  position: absolute;
  bottom: 35%;
}

.cart{
  position: absolute;
  bottom: 15%;
  left: 43%;
  font-size: x-large;
}

footer {
  background-color: #323232;
  color: white;
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  height: 12%;
}

footer h2, h3, h4 {
  text-transform: uppercase;
  font-size: 1em;
}

footer p {
  line-height: 1.3em;
}