body{
    background-color: #051622;
    margin:0%;
    padding: 0%;
    width: fit-content;
    height: fit-content;

}
.header{
        color: #76323F;
        position: absolute;
        top: 0%;
        left: 90%;
}
.navi{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  min-height: 5vh;
  width:70%;
  left: 10%;
  border-radius: 15px;
}
.index, .order, .menu{
    background-color:#76323F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.intro {
    color: #DEB992;
    font-size: 300%;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 40%;
    text-align: center;
}
.Hungry{
    color: #76323F;
    font-weight: bold;
}
.pizza1 {
    width: 30%;
    position: absolute;
    top: 20%;
    right: 10%;
}
.pizza2{
    width: 7%;
}
footer {
    background-color: #323232;
    color: white;
    position: absolute;
    bottom: 0%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 12%;
  }
  
  footer h2, h3, h4 {
    text-transform: uppercase;
    font-size: 1em;
  }
  
  footer p {
    line-height: 1.3em;
  }
.col-md-1{
   position: absolute;
   text-align:center;
   left: 1%;
   top: 20%;
    
}
h2{
  position: absolute;
  text-align: center;
  right: 85%;
  top: 0%;
}
.col-md-2{
  position: absolute;
text-align: center;
right: 45%;
top: 20%;
}
h3{
  position: absolute;
  text-align: center;
  right: 45%;
  top: 0%;
}
.col-md-3{
  position: absolute;
  text-align: center;
  left: 83%;
  top: 25%;
 font-size: large;
 color: #76323F;

}
h4{
  position: relative;
  text-align: center;
  left: 40%;
  top: 25%;
}
.row{
  color:#DEB992;
}
.form-group{
  padding:2%;
}

#pizza, #size, #topping, #crust, #delivery, #address, #city, #estate, #mobile{
  width: 110%;
 font-size:80%;
}
#delivery{
  position: absolute;
  left:1%;
  top: 100%;
}
.order1{
  text-align: justify;
  font-size: xx-large;
  position: absolute;
  right:47%;
  top: 30%;
}
h5{
  position: absolute;
  left: 23%;
  bottom: 90%;

}
#address{
  display:none;
  text-align: justify;
  font-size: xx-large;
  position: absolute;
  padding: 2%;
  bottom: 60%;
  left: 190%;
  font-size:100%;
}
h6{
  position: absolute;
  bottom: 80%;
  left: 30%;
}
#checkout{
position: absolute;
float: right;
left: 60%;
bottom: 20%;
}
.pizza3{
  position: absolute;
  right: 63%;
  bottom: 20%;
  width: 35%;
}
.btn, .btn2, .btn3{
background-color:#76323F;
border: none;
color: white;
text-align: center;
transition-duration: 0.4s;
border-radius: 20px;
text-decoration: none;
display: inline-block;
font-size: 25px;
position: absolute;
}
.btn:hover,.btn2:hover,.btn3:hover {
background-color:#DEB992;
  color: #051622;
}
.btn{
  top: 115%;
  left: 30%;
}
.btn2{
  top:105%;
  left: 30%;
}
.btn3{
  left: 40%;
}